/*font-family: 'Pacifico', cursive;
font-family: 'Press Start 2P', cursive;*/
/*#393939 #FF5A09 #F3843E #FF9900 #6E6E6E*/
ul, li, h1, h2, h3, h4, h5, h6, p, div, section, article, a, body, html, button, input, textarea {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  text-align: inherit;
  text-decoration: none;
  box-sizing: inherit;
  box-sizing: border-box;
}

body {
    font-family: 'VT323', sans-serif;
    font-size: 22px;
}

button, a {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

ul {
  list-style: none;
}

body {
  box-sizing: content-box
}

img {
  width: 100%;
  height: auto;
  display: block;
}

div.sidebar {
  display: block;
  width: 20%;
  height: 100%;
  background: #F3843E;
  color: #393939;
  position: fixed;
  padding: 20px;
  border-right: 10px solid #6E6E6E;
}

.sidebar img {
    border-radius: 100%;
    margin: 20px 0
}

h3 {
    text-align: center;
    font-size: 26px;
}

div.content {
    display: block;
    width: 80%;
    height: 100%;
    background: #393939;
    color: #0C7BC1;
    position: relative;
    right: 0;
    padding: 20px;
    float: right;
}

.social {
    margin: auto;
    width: 120px;
}

.social li {
    float: left;
    padding: 5px;
    width: 30px;
}

p {
    padding: 10px;
}

h1 {
    color: #F3843E;
    font-size: 26px;
    padding-top: 20px;
}

a:hover {
    color: #F3843E;
}

a {
    display: block;
    padding-left: 20px;
}
