body, a{
  color: white;
}

#background {
  height:100%;
  width:100%;
  background-color: gray;
  position: fixed;
  top:0;
  right:0;
  background-image: url('shadow.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#title {
  height: 3.5em;
  width: 60%;
  position:fixed;
  top:1em;
  background: rgba(100, 100, 100, 0.6);
  border-radius: 2em;
  right:20%;
  text-align: center;
}

section {
  background: rgba(100, 100, 100, 0.6);
  border-radius: 2em;
  padding: 20px;
  position: relative;
  top: 100px;
  float: right;
  width: 200px
}



#footer {
height: 2.5em;
width: 80%;
background-color: #444444;
position: fixed;
bottom: 1em;
right: 10%;
border-radius: 1em;
background: rgba(51, 51, 51, 0.5);
color:black;
}

.foot{
float:left;
list-style-type: none;
text-align: center;
width:10%;
}

.foot-right{
float:right;
list-style-type: none;
text-align: center;
width:30%;
}

.foot img{
  height:2em;
  margin-top: -0.75em
}
