body {
  margin: 0;
  background-color: #000044;
}

.nav{
float:left;
list-style-type: none;
text-align: center;
width:19%;
margin-top: -0.25em;
}

#navbar {
height: 2.5em;
width: 80%;
background-color: #444444;
position: fixed;
top: 1em;
right: 10%;
border-radius: 1em;
}

#title {
  height: 3.5em;
  width: 60%;
  position:fixed;
  top:3em;
  background-color: #333333;
  border-radius: 2em;
  right:20%;
  text-align: center;
}

#title h1 {
  margin-top: 0.25em
}

#background {
height:100%;
width:75%;
background-color: #555555;
top:0;
position:fixed;
z-index: -2; 
right:12.5%;
}

#content {
height: auto;
width:65%;
/* background-color: red; */
z-index: -1; 
margin: 7em auto 4em auto;
position:relative;
}

#footer {
height: 2.5em;
width: 80%;
background-color: #444444;
position: fixed;
bottom: 1em;
right: 10%;
border-radius: 1em;
}

.foot{
float:left;
list-style-type: none;
text-align: center;
width:10%;
}

.foot-right{
float:right;
list-style-type: none;
text-align: center;
width:30%;
}

img{
  height:2em;
  margin-top: -0.75em
}